{# DNS reverse zone file #}
$TTL    604800
@       IN      SOA     {{ service.name }}.{{ domain }}. admin.{{ domain }}. (
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
    IN      NS      {{ service.name }}

; name servers - A records
{{ service.name }}.{{ domain }}.                IN      A       {{ service.ip }}
; OpenShift Container Platform Cluster - A records
{{ bootstrap.name }}.{{ clusterid }}.{{ domain }}.           IN      A      {{ bootstrap.ip }}
{% for machine in  masters %}
{{ machine.name }}.{{ clusterid }}.{{ domain }}.     IN      A      {{ machine.ip }}
{% endfor %}
{% for machine in workers %}
{{ machine.name }}.{{ clusterid }}.{{ domain }}.     IN      A      {{ machine.ip }}
{% endfor %}

; OpenShift internal cluster IPs - A records
api.{{ clusterid }}.{{ domain }}.       IN    A    {{ service.ip }}
api-int.{{ clusterid }}.{{ domain }}.   IN    A    {{ service.ip }}
*.apps.{{ clusterid }}.{{ domain }}.    IN    A    {{ service.ip }}
{% for machine in masters %}
etcd-{{ loop.index0 }}.{{ clusterid }}.{{ domain }}.    IN    A     {{ machine.ip}}
{% endfor %}
console-openshift-console.apps.{{ clusterid }}.{{ domain }}.     IN     A     {{ service.ip }}
oauth-openshift.apps.{{ clusterid }}.{{ domain }}.               IN     A     {{ service.ip }}