{# DNS reverse zone file #}
$TTL    604800
@       IN      SOA     {{ service.name }}.{{ domain }}. admin.{{ domain }}. (
                  6     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
    IN      NS      {{ service.name }}.{{ domain }}.

; name servers - PTR records
{{ service.ip.split('.')[3] }}    IN    PTR    {{ service.name }}.{{ domain }}.

; OpenShift Container Platform Cluster - PTR records
{{ bootstrap.ip.split('.')[3] }}    IN    PTR    {{ bootstrap.name}}.{{ clusterid }}.{{ domain }}.
{% for machine in masters %}
{{ machine.ip.split('.')[3] }}    IN    PTR    {{ machine.name }}.{{ clusterid}}.{{ domain }}.
{% endfor %}
{% for machine in workers %}
{{ machine.ip.split('.')[3] }}    IN    PTR    {{ machine.name }}.{{ clusterid}}.{{ domain }}.
{% endfor %}
{{ service.ip.split('.')[3] }}    IN    PTR    api.{{ clusterid}}.{{ domain }}.
{{ service.ip.split('.')[3] }}    IN    PTR    api-int.{{ clusterid}}.{{ domain }}.